img {
    width: 200px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.drag-area {
    width: 300px;
    height: 140px;
    background-color: var(--upload-background-color);
    border-radius: 20px;
    border-style: dashed;
    border-width: 2px;
    border-color: var(--accent-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.drag-area-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.upload-icon {
    font-size: 3rem;
}

.drop-content {
    font-weight: bold;
}

.selected-file {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    animation: fadeIn 0.5s;
    max-width: 100%;
    gap: 0.2rem;
    width: 100%;
}

.selected-file > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 80%;
}

.remove-file-button {
    background-color: transparent;
    border: none;
    height: 100%;
    color: var(--accent-color);
    padding-top: 3px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 50%;
}

.remove-file-button:disabled {
    color: darkgray;
    cursor: not-allowed;
}

.drag-area-action-text {
    cursor: pointer;
    color: var(--accent-color);
    font-weight: bold;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.process-button {
    width: 250px;
    height: 50px;
    color: var(--accent-color);
    background-color: transparent;
    padding: 15px;
    cursor: pointer;
    border-radius: 15px;
    border: 2px var(--accent-color) solid;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.process-button:hover {
    transition: all 0.3s ease-in-out;
    background-color: var(--accent-color);
    color: white;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.process-button:disabled {
    background-color: var(--accent-color);
    color: white;
    cursor: wait;
}

.hide {
    display: none;
}
